{
  "env": {
    "node": true
  },
  "parserOptions":{
    "ecmaVersion":6
  },
  "plugins": [
    "mocha",
    "promise"
  ],
  "rules": {
    "no-console": 0,
    "no-var":1,
    "promise/avoid-new": "off",
    "promise/no-native": "off",
    "quotes": off
  },
  "extends": [
    "eslint:recommended"
  ],
  "globals": {"Promise": true},


}
